body {
  width: 90%;
  text-align: center;
}

textarea {
  width: 100%;
  grid-row: 20;
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  height: 20em;

margin: 10px;
}

::placeholder {
  color: blue;
}

button {
  background-color: green;
  color: white;
  font-size: 1.5em;
  padding: 10px;
}
